.dropdown-menu[data-bs-popper]{
    right: 0 !important;
}

.navbar{
    background: rgba(255, 255, 255, .5)
}

.col-2{
    border: 1px solid black;
}

h2,tr {
    color: #dc3b4c;
}

.fa-trash:hover{
    color: red;
}